{% extends "_layout" %}

{% block content %}
    <section class="sticks-details">
        <img src="{{entry.productFoto.one().url('productFoto')}}" alt="">
        <h2>{{entry.title}}</h2>
        <p>{{entry.tekst}}</p>
    </section>
{% endblock %}