*{
    font-family: Arial, Helvetica, sans-serif;
}
/* nav{
    background-color: #30302e;
    padding: 65px;
} */


#nav-menu a {
    padding: 10px 0;
    font-size: 22px;
    color: #30302e;
  }

#logo{
    width: 100px;
    height: auto;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    margin-right: 100px;
    /* margin-bottom: 50px; */
    
}
  nav a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  header {
    background-color: #fff;
    padding: 1em;
  
  }
  
/* #hockey_video {
    position: fixed;
    right: 0;
    top: 148px;
    width: 1725px;
    height: 500px;
   
  } */

/* .background_image{
    width:100%;
    height: auto;
}
   */
header {
    /* background: rgba(0, 0, 0, 0.5); */
    /* color: #f1f1f1;
    width: 100%; */
    /* padding: 20px; */
    /* margin-top: 15%; */

}
  
h1{
    /* margin-top: 0px; */
    text-align: center;
    /* height:700px;   */
    margin: 1em 0;
  /* text-align: center; */
  font-size: 1.75em;

}
#background_image{
    height:700px;  
    background-image: url(/catalogus/images/background_image.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: larger;
}

.item img{
    margin-left: 20px;
    width: 180px;
    height: 180px;
}

.item a{
    text-decoration: none;
    color: #30302e;
    padding: 10px;
    background-color: #c5d2cf;
    border-radius: 25px;
    width: 200px;
    text-align: center;
}

.item h3{
    width: 200px;
    margin-left: 20px;
}

.item p{
    margin-bottom: 25px;
    margin-left: 20px;
    justify-content: center;
}

.item{
    margin: 50px;
    
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prijs{
    display: flex;
}

.oude_prijs{
    text-decoration: line-through;
    color: grey;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}





body {
    background-color: #F8F6F6;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #2b2b2b;
  }
  
  header {
    background-color: #fff;
    padding: 1.7em;
  
  }
  
  h1,
  h2 {
    font-weight: normal;
  }
  
  h1 {
    margin: 1em 0;
    text-align: center;
    font-size: 1.75em;
  
  }
  
  nav {
    /* display: flex;
    justify-content: flex-end;
    flex-direction: column; */
  
  }
  
  nav li {
    padding: 1em 1.25em;
    /* border-bottom: 1px solid #000; */
  }
  
  a {
    color: #0c6ac9;
    text-decoration: none;
  }
  
  h2 a:hover {
    text-decoration: underline;
  }
  
  nav a:hover {
    color: #0c6ac9;
  }
  
  .button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #nav-menu {
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 2px 10px 0;
    border-radius: 5px;
  }
  
  #nav-menu a {
    padding: 10px 0;
    font-size: 22px;
  }
  
  nav a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  h2,
  .highlight {
    color: #0c6ac9;
  }
  
  .button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #0c6ac9;
  }
  
  .items-section {
    padding: 2em;
  }
  
  .btn-more {
    display: block;
    text-align: center;
    width: 100px;
    transition: all 0.5s;
  }
  
  .btn-more:hover {
    background-color: #0c6ac9;
    color: #fff;
  }
  
  .items-section article {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    padding: 1.5em;
    margin-bottom: 1.5em;
    /* margin-top: 2em; */
    border-radius: 5px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #2b2b2b;
    padding-bottom: 2em;
  }
  
  .items-section article img {
    /* max-width: 100%; */
    width: 250px;
    height: auto;
    /* max-height: 400px; */
    display: block;
    margin: auto;
  }
  
  .items-section article .categories {
    padding: 0.5rem 0;
  }
 
  .items-section article .categories span {
    /* display: inline-block;
    text-transform: uppercase;
    font-size: 0.75rem;
    padding: 0.25rem;
    border-radius: 5px;
    border: 1px solid #F6F4F4; */
    display: none;
  }
  
  .article-details {
    max-width: 1000px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }
  
  .article-details img {
    width: 100%;
  }
  
  .article-details p {
    margin: 2rem;
  
  }
  
  .article-details h2 {
    margin-left: 2rem;
  }
  
  .filter-categories {
    padding: 1rem 0 0 0;
    display: flex;
    max-width: 1000px;
    text-decoration: none;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 100%;
    flex-wrap: wrap;
  }
  
  
  .filter-categories input {
    display: none;
  }
  
  .filter-categories label {
    border: 1px solid #0c6ac9;
    border-radius: 20px;
    padding: 10px;
    margin-top: 0.5rem;
  }
  
  .filter-categories label:has(input:checked) {
    color: #fff;
    background-color: #0c6ac9;
  }
  
  footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 1em;
    margin-bottom: 0px;
    text-align: center;
  }

  .info{
    background-color: #84a268;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
  }
  
  @media only screen and (max-width: 959px) {
    #nav-menu {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;

      background-color: #fff;
      /* to stop flickering of text in safari */
  
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
  
    /* #logo{
        width: 150px;
        height: auto;
        margin-left: 50%;
        margin-right: 50%;
        margin-bottom: 50px;
        
    } */
  
    nav {
      display: block;
      position: absolute;
      top: 1em;
      left: 1em;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    nav input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
  
      cursor: pointer;
  
      opacity: 0;
      /* hide this */
      z-index: 2;
      /* and place it over the hamburger */
  
      -webkit-touch-callout: none;
  
    }
  
    nav span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
  
      background: #cdcdcd;
      border-radius: 3px;
  
      z-index: 1;
  
      transform-origin: 4px 0px;
  
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
  
    }
  
    nav span:first-child {
      transform-origin: 0% 0%;
    }
  
    nav span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  
    nav #menu-toggle:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
  
    nav #menu-toggle:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  
    nav #menu-toggle:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
  
    nav #menu-toggle:checked~#nav-menu {
      transform: none;
    }
  
    #nav-menu li {
      display: block;
    }
  }
  
  @media only screen and (min-width: 960px) {
    #nav-menu {
      box-shadow: none;
      padding: 0;
      width: 1000px;
      margin: 0 auto;
    }
  
    #nav-menu li {
      display: inline;
      padding: 0.5em;
      margin-top: 25px;
    }
  
    nav #menu-toggle {
      display: none;
    }
  
    #menu-toggle~span {
      display: none;
    }
  
    nav #menu-toggle~#nav-menu {
      transform: none;
    }
  
    #nav-menu {
      display: flex;
      justify-content: space-around;
    }
  
    .items-section article {
      max-width: 750px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      /* grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 10px; */
    }
  
    .items-section article img {
      margin: 0;
    }

    .items-section article div {
      padding-left: 3em;
    }

    .items-section article h2 {
      /* margin-top: 0; */
    }
  
    .items-section .btn-more {
      width: 300px;
    }
  
    .all-news.items-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5em;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .all-news.items-section article {
      display: block;
    }
  }