<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../web/styles/normalize.css">
    <link rel="stylesheet" href="../web/styles/style.css">
    <title>Sticks</title>
</head>
<body>
    <nav>
        <a href="index.twig">Home</a>
        <a href="sticks/sticks.twig">Hockeysticks</a>
        <a href="kleding/kleding.twig">Kleding</a>
        <a href="accessoires/accessoires.twig">Accessoires</a>
    </nav>

{% block main %}
    {# overriding this with the extandenants templates content with the same block name#}
{% endblock %}


<footer>

</footer>
</body>
</html>