{% extends "_layouts/main" %}

{% block main %}

    <div class="accessoires">
        <div class="item">
                    <img src="/catalogus/images/kleding/hoofdbandje.webp" alt="">
                    <h3>BRABO ELASTIC HAIRBAND NON-SLIP 10MM</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€4,99</p>
                        <p>€4,49</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
            </div>

            <div class="accessoires">
                <div class="item">
                    <img src="/catalogus/images/kleding/shinguards.webp" alt="">
                    <h3>OSAKA SHINGUARDS</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€37,50</p>
                        <p>€33,75</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
            </div>

            <div class="accessoires">
                <div class="item">
                    <img src="/catalogus/images/kleding/shinguards.webp" alt="">
                    <h3>OSAKA SHINGUARDS</h3>
                    <div class="prijs">
                        <p class="oude_prijs">€37,50</p>
                        <p>€33,75</p>
                    </div>
                    <a href="#">Toevoegen aan winkelwagen</a>
                </div>
            </div>
        </div>
{% endblock %}